/repor.synctex.gz
/report.aux
/report.log
/report.synctex.gz
/report.pdf
/report.brf
/tmp/
/abstract.aux
/conclusion.aux
/fiducial.aux
/intro.aux
/multiplanar.aux
/quadcopter.aux
/report.lof
/report.lot
/report.toc
/vacantSpaces.aux
